@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto:wght@100;400;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--brown);


    --orange: #b43b00;
    --green: #103c2c;
    --brown: #281413;
    --yellow: #ffc95a;
    --blue: #effafa;
    --fontlogo: 'Indie Flower', cursive;
}

body {
    position: relative;
    height: 100vh;
}

.header {
    height: 75px;
    display: flex;
    justify-content: center;
    z-index: 4;
    background-image: linear-gradient(var(--yellow), var(--blue));
}

.header button {
    background-color: inherit;
    border: none;
    cursor: pointer;
    font-family: var(--fontlogo);
    font-size: 50px;
    color: var(--brown);
    width: 200px;
    transition: all 350ms;
    border-radius: 2px;
    opacity: 0.5;
}

.header button:hover {
    color: var(--green);
    font-size: 55px;
    opacity: 1;
    text-decoration: underline;
}

.header button:active {
    color: var(--brown);
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .header button {
        transform: scale(0.5);
    }
}

.content {
    width: 100vw;
    height: 100vh;
    background-color: var(--blue);
    transition: all 350ms;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 1rem;
    z-index: 5;
}

/* general styles */

h1 {
    position: relative;
    font-family: var(--fontlogo);
    font-size: 5rem;
    color: var(--green);
    letter-spacing: -0.5rem;
    transform: rotate(-5deg);
}

h2 {
    font-family: var(--fontlogo);
    color: var(--orange);
    position: relative;
    transform: rotate(-2deg);
    transition: all 350ms;
}

p {
    position: relative;
    max-width: 400px;
    transform: rotate(-2.5deg);
    line-height: 1.5rem;
    text-indent: 1rem;
}

.imageContainer {
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.imageContainer img {
    z-index: 1;
    height: calc(100vh - 75px);
}

.imageContainer p, .footer p {
    z-index: 2;
    position: relative;
    opacity: 0.4;
    font-family: var(--fontlogo);
}

/* HOME */

.wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

.main {
    padding: 50px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main h1 {
    left: 8rem;
}

.main h2 {
    margin-top: -2.5rem;
    left: 11rem;
}

.main p {
    left: 10rem;
    margin: 25px;
}

.main * {
    transition: all 350ms;
}
.main *:hover {
    opacity: 0.7;
}

.wrapper .imageContainer p {
    align-self: flex-end;
    right: 5rem;
    bottom: 3rem;
}

.imageContainer p a {
    text-decoration: none;
    font-family: inherit;
}

.imageContainer p a:hover {
    opacity: 1;
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    .main h1{
        left: 10rem;
    }
    .wrapper .imageContainer p {
        right: 10rem;
    }
}

/* menu */
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.menu img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    transition: all 350ms;
}

.menu img:hover {
    transform: rotate(-12.5deg);
}

.menu .item {
    display: flex;
    height: 300px;
    width: 100%;
}

.menu .item:nth-of-type(1) {
    background-image: linear-gradient(-2.5deg, #ebebab 15%, var(--blue) 20%);
}
.menu .item:nth-of-type(2) {
    background-image: linear-gradient(-2.5deg, #d2b0a9 15%, #ebebab 20%);
}
.menu .item:nth-of-type(3) {
    background-image: linear-gradient(-2.5deg, #fbfcfe 18%, #d2b0a9 20%);
}
.menu .item:nth-of-type(4) {
    background-image: linear-gradient(-2.5deg, #66c6f8 18%, #fbfcfe 20%);
}

.menu .imageContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu .imageContainer p {
    transform: rotate(-2.5deg);
}

.menu .item {
    position: relative;
    display: flex;
    justify-content: center;
}

.menu .textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

@media screen and (min-width: 600px) {
    .menu .item:nth-child(even) .imageContainer{
        order: 1;
    }    
}

@media screen and (max-width: 600px) {
    .menu .item {
        flex-direction: column;
        height: 500px;
        width: 100%;
    }
    .menu .textContainer p {
        align-self: center;
    }
}

/* CONTACT */

.contact h2 {
    left: 3rem;
    top: -2.5rem;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact .contactForm {
    width: 350px;
}

.contact fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: solid 1px var(--brown);
    border-radius: 15px;
}

.contact label {
    font-family: var(--fontlogo);
    padding: 10px;
}

.contact input, textarea {
    padding: 5px;
    display: block;
    border: solid 1px black;
    border-radius: 15px;
}

.contact input:focus, textarea:focus {
    outline: 2px solid var(--orange);
}

.contact textarea {
    padding: 5px;
    height: 10ch;
}

.contact .addressInfo {
    margin-top: 30px;
    text-align: center;
}
